@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background:var(--bg-color);
  --bg-color: #D7D0C0;
  --logo-brown: #4A3923;
  --dark-pink: #CA9983;
  --brown-maroon: #4A1D15;
  --banner-pink:#EB77774D;
  --light-pink: #D0B5A2;
  --pink-footer:#CA998380;
  --black: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
